html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}

*, *:after, *:before {
	box-sizing: border-box;
}

a {
	text-decoration: none;	
}

body {
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  	color: #F0F8FF;
}

body {  
	min-width:430px; 
	}
